@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: #282c34;
  padding: 9px;
  color: white;
  background-color: #6e34ff;
  border-radius: 15px;
  top: 0;
  padding: 20px;
  color: white;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  margin-top: auto;
  padding: 0.1px;
  text-align: center;
  z-index: 1000;
  left: 0;
  right: 0;
}

footer {
  margin-top: auto;
  background-color: #552cd041;
  padding: 0.1px;
  text-align: center;
  border-radius: 15px;
  z-index: 1000;
  bottom: 0;
  left: 0;
  right: 0;
}

.controls {
  margin: 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}

.dashboard {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}
